$mainColor: rgb(129, 154, 169);
$bg: rgb(226, 229, 230);
$crimson: rgb(243, 109, 102);
.error {
    width: 100%;
    max-width: 360px;
    margin-left: calc(50% - 190px);
    padding: 10px;
    text-align: center;
    background-color: rgba($crimson, 0.5);
    border: 1px solid $crimson;
    color: white;
    border-radius: 4px;
    display: inline-block;
}

.messages,
.count-down {
    width: 100%;
    color: chocolate;
    font-size: 1.5em;
    text-align: center;
    display: inline-block;
}

.count-down {
    font-size: 2em;
}

.flags {
    img {
        height: 20px;
        margin: 5px;
        clip-path: circle(10px at 50% 50%);
    }
    height: 30px;
    position: fixed;
    right: 40px;
    top: 30px;
    .btn-group {
        button {
            background-color: rgba(0, 0, 0, 0);
            border: 0 solid;
            color: $mainColor;
            font-size: 1.4em;
        }
        ul {
            left: auto !important;
            right: 0 !important;
            cursor: pointer;
            li {
                color: #575757;
                font-size: 16px;
            }
            li:hover {
                color: white;
                background-color: #ee1997;
            }
        }
    }
}

.title {
    text-align: center;
    padding-top: 30px;
    @media only screen and (max-width: 600px) {
        padding-top: 80px;
    }
}

.instructions {
    position: fixed;
    top: 20px;
    max-width: 300px;
    left: 20px;
    vertical-align: baseline;
    font-size: 1em;
    background-color: white;
    border: solid 1px $mainColor;
    border-radius: 20px;
    padding: 5px 5px;
    box-shadow: 2px 2px 30px 0 gray;
    z-index: 1000;
    overflow: hidden;
    &:focus {
        outline: 0px solid transparent;
    }
    .icon-help {
        background-image: linear-gradient(0deg, red, red), url(../assets/icons/question-mark.png);
        background-blend-mode: screen;
        clip-path: circle(15px at center);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        height: 30px;
        width: 30px;
        animation: beat .25s infinite alternate;
        transform-origin: center;
    }
    span {
        font-weight: bold;
        font-size: .8em;
        padding-top: 5px;
        padding-bottom: 10px;
        display: inline-block;
    }
    p {
        margin-bottom: 10px;
        text-align: justify;
    }
}

.instructions-expanded {
    overflow: auto;
    padding: 15px 20px;
}

.balance {
    vertical-align: baseline;
    font-size: 1em;
    height: 2em; // background-color: white;
    // border: solid 1px $mainColor;
    text-align: center;
    border-radius: 20px;
    padding: 5px 15px; // box-shadow: 2px 2px 30px 0 gray;
    z-index: 1000;
    span {
        line-height: 2em;
    }
    b {
        &.refresh-balance {
            animation: animate-refresh-balance 0.3s ease-in-out 4;
        }
    }
}

// Button
.button-container {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Open Sans';
    display: flex; // align-items: center;
    justify-content: center;
    position: absolute;
    max-height: 80px;
    bottom: 40%;
    @media only screen and (max-width: 600px) {
        top: auto;
        bottom: 50px;
    }
}

*,
*:before,
*:after,
button {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    &:focus {
        outline: 0;
    }
}

.icon {
    position: absolute;
    width: 64px;
    height: 64px;
    display: block;
    fill: lighten($bg, 100%);
    top: -20px;
    opacity: 0;
    left: calc(50% - 32px);
    z-index: 1000;
    &.waiting-end {
        top: 0px;
        opacity: 1;
        transition: 0.3s ease-in-out;
        transition-delay: 2.8s;
    }
}

.btn {
    width: 60px;
    height: 60px;
    position: relative; // background-color: transparent;
    background-color: white;
    box-shadow: 2px 2px 30px 0 gray;
    border: 2px solid $mainColor;
    border-radius: 50px;
    font-family: 'Open Sans';
    color: $mainColor;
    font-weight: 400;
    font-size: 1.2em;
    cursor: pointer;
    overflow: hidden;
    &.waiting-init {
        animation: animate-waiting-init 0.9s ease-in-out forwards;
    }
    &.waiting-end {
        animation: animate-waiting-end 1s ease-in-out forwards;
    }
}

.rest {
    transform: scale(0);
    clip: rect(0, 84px, 84px, 42px);
    height: 84px;
    width: 84px;
    position: absolute;
    left: calc(50% - 42px);
    top: calc(40% - 42px);
    &.waiting {
        animation: animate 1.05s linear infinite;
        animation-delay: 0.6s;
        &:after {
            animation: animate2 1.05s linear infinite;
            animation-delay: 0.6s;
        }
    }
    &:after {
        transform: scale(0);
        clip: rect(0, 84px, 84px, 42px);
        content: '';
        border-radius: 50%;
        height: 84px;
        width: 84px;
        position: absolute;
    }
}

// Animations
@keyframes animate-waiting-init {
    0% {
        width: 150px;
        height: 60px;
        color: $mainColor; // background-color: transparent;
        background-color: white;
    }
    7% {
        width: 155px;
        height: 55px;
        font-size: 1.25em;
        color: #ffffff;
        background-color: $mainColor;
    }
    10% {
        width: 150px;
        height: 60px;
        font-size: 1.2em;
        color: transparent;
    }
    100% {
        width: 60px;
        height: 60px;
        font-size: 0em;
        background-color: transparent; // background-color: white;
    }
}

@keyframes animate-waiting-end {
    0% {
        width: 60px;
        height: 60px;
        color: transparent;
        font-size: 0em; // background-color: transparent;
        background-color: white;
    }
    100% {
        width: 150px;
        height: 60px;
        color: $mainColor; // background-color: transparent;
        background-color: white;
    }
}

@keyframes animate {
    0% {
        transform: scale(1);
        transform: rotate(0deg);
    }
    100% {
        transform: scale(1);
        transform: rotate(220deg);
    }
}

@keyframes animate2 {
    0% {
        box-shadow: inset $crimson 0 0 0 4px;
        transform: rotate(-140deg);
    }
    100% {
        box-shadow: inset $crimson 0 0 0 4px;
        transform: rotate(140deg);
    }
}

@keyframes done {
    0% {
        top: -20px;
    }
    100% {
        top: 0px;
    }
}

@keyframes animate-refresh-balance {
    0% {
        font-size: 1em;
        color: black;
    }
    50% {
        font-size: 1.2em;
        color: brown;
    }
    100% {
        font-size: 1em;
        color: black;
    }
}

@keyframes beat {
    to {
        transform: scale(1.1);
    }
}
