<!-- <button (click)="press()" [disabled]="playDisabled()">Play</button>
<button (click)="reset()">Reset</button>
<button (click)="claim()" [disabled]="claimDisabled()">Claim</button> -->
<div *ngIf="data">

  <h1 class="title">{{data.title}}</h1>
  <div class="balance" draggable tabindex="0">
    <span>{{data.balance}}: </span>
    <b [ngClass]="{'refresh-balance': balanceRefreshing}">{{balance}}</b>
  </div>

  <!-- <span *ngIf="winner && action === Actions.Play">{{data['wait-for-it']}}</span> -->
  <span class="messages" *ngIf="winner && action === Actions.Play">{{data['wait-for-it']}}</span>
  <span class="messages" *ngIf="!winner && action === Actions.Play">{{data['go-for-it']}}</span>
  <span class="messages" *ngIf="action === Actions.Claim">{{data['now-claim']}}</span>
  <span class="count-down" *ngIf="winner">Countdown: {{countDown}}</span>
  <span class="error" *ngIf="error">{{error}}</span>

  <div class="button-container">

    <svg id="svg-source" height="0" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      style="position: absolute">
      <g id="check" data-iconmelon="Simple Line Icons:62e3519b8d1506453144dd389ae63264">
        <g>
          <path d="M22.491,11.622l-7.915,7.632l-4.953-5.138c-0.221-0.229-0.586-0.235-0.812-0.014
                c-0.228,0.219-0.236,0.581-0.016,0.812l5.354,5.55c0.109,0.112,0.251,0.221,0.414,0.176c0.147,0,0.291-0.06,0.398-0.162
                l8.326-8.033c0.229-0.219,0.235-0.582,0.016-0.81C23.082,11.409,22.72,11.403,22.491,11.622z"></path>
        </g>
      </g>
    </svg>

    <div style="max-height: 64px;" *ngIf="data">
      <button class="btn" [disabled]="waiting || (winner && action === Actions.Play)" (click)="press()" [ngClass]="{'waiting-init': waiting, 'waiting-end': !waiting}">
        {{data[action]}}
        <div class="icon" [ngClass]="{'waiting-end': !waiting}">
        </div>
      </button>

      <div class="rest" [ngClass]="{'waiting': waiting}"></div>
    </div>
  </div>

  <div class="instructions" draggable tabindex="0" (isMoving)="isMoving = $event" (click)="expandInstructions()"
    [ngClass]="{'instructions-expanded': instructionsExpanded}">
    <div class="icon-help" *ngIf="!instructionsExpanded">

    </div>
    <div *ngIf="instructionsExpanded">
      <h4>{{data['instructions-title']}}</h4>
      <span>{{data['instructions-notes']}}</span>
      <p>{{data.introduction}}</p>
      <div [innerHTML]="data.instructions">

      </div>
    </div>
  </div>

  <div class="flags d-flex justify-content-center align-items-center">
    <!-- <img *ngFor="let f of arrLangs; let i = index" [src]="'./assets/flags/'+ f.icon" [alt]="f.description" (click)="changeLanguage(i);"> -->
    <div class="btn-group" dropdown>
      <button id="button-basic" dropdownToggle type="button" class="sub-titulo-5 dropdown-toggle" aria-controls="dropdown-basic">
        {{selectedLang}} <span class="caret"></span>
      </button>
      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
        <li role="menuitem" *ngFor="let f of arrLangs; let i = index" (click)="changeLanguage(i); selectedLang = f.description;"
          class="sub-titulo-5">
          <img [src]="'./assets/flags/'+ f.icon" [alt]="f.description">{{f.description}}
        </li>

      </ul>
    </div>
  </div>
</div>
